@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-black;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-blue-500 to-purple-600 bg-clip-text text-transparent;
  }
}

@font-face {
  font-family: "WestgateBold";
  src: url("/fonts/Westgate-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

.company-name {
  font-family: "WestgateBold", sans-serif;
  font-weight: bold;
}

